body {
  background: black;
}

img {
  width: 100vw;
  height: 100vh;
  border: none;
}

body {
  padding: 0px;
  margin: 0px;
}

h3, h1 {
  text-align: center;
  font-weight: 100;
  font-family: system-ui;
  color: white;
}

h1 {
  margin: 0px;
}

#adv-place {
  margin-top: 45vh;
}

.form-control {
  height: 50px;
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-bottom: 20px;
}

#select-wrapper {
  margin: 20px;
}
