img {
  width: 100vw;
  height: 100vh;
  border: none;
}

body {
  padding: 0px;
  margin: 0px;
}

h3, h1 {
  text-align: center;
  font-weight: 100;
}

h1 {
  margin: 0px;
}

button {
  padding: 20px;
  background: transparent;
  border: 1px solid grey;
  border-radius: 5px;
  display: block;
  margin: 20px;
}

select {
  margin: 20px;
}

#adv-place {
  margin-top: 45vh;
}
